footer {
    width: 100%;
    margin-top: 200px;
    font-family: 'PorscheNewsGothic-Regular';
    font-size: 10px;
    padding-bottom: 60px;
}

.sponsors {
    display: block;
    height: auto;
    width: 100%;
    padding: 60px 0px;
    min-height: 50px;
}

.sponsors img {
    position: relative;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
}

.sponsors img.sponsors-1 {
    width: 55%;
    height: auto;
}

.sponsors img.sponsors-2 {
    width: 45%;
    height: auto;
}

.footer_txt {
    position: relative;
    display: block;
    float: left;
    font-size: 10px;
    line-height: 50px;
    opacity: 0.6;
    height: 50px;
}

.footer_contact {
    position: relative;
    display: block;
    float: right;
    line-height: 50px;
    height: 50px;
}

footer a {
    display: inline-block;
    margin: 0px 10px;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}
