header {
    height: 154px;
    width: 100%;
    position: relative;
    display: block;
    background-color: #fff;
}

header div {
    display: block;
    position: relative;
    height: 111px;
    width: 100%;
    border-bottom: 1px solid #cecece;
}

.header_logo {
    position: absolute;
    display: block;
    width: 163px;
    height: 85px;
    top: auto;
    right: 0px;
    left: 0px;
    bottom: 27px;
    margin: 0px auto;
}

nav {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0px 0px 20px 0px;
    top: -10px;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 30px;
    height: 30px;
    line-height: 30px;
}

nav a:after {
    position: absolute;
    left: -30px;
    height: 20px;
    width: 1px;
    background-color: #888888;
    display: block;
    content: "";
    top: 5px;
}

nav a:first-child {
    margin: 0px 20px 0px 0px;
}

nav a:first-child:after {
    display: none;
}

nav a span {
    position: relative;
    display: inline-block;
}

nav a span:after {
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 1px;
    background-color: #cc0000;
    opacity: 0;
    content: "";
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

nav a:hover span:after {
    opacity: 1;
}

.sidemenu-init nav {
    top: 150px;
}

.sidemenu-init nav a {
    display: block;
    position: relative;
    float: none;
    clear: both;
    height: auto;
    line-height: 25px;
    padding: 22px 30px;
    border-bottom: 1px solid #cccccc;
    margin: 0px 15px;
}
.sidemenu-init nav a span{
    display: block;
}
.sidemenu-init nav a span:after{
    display: none;
}

.sidemenu-init nav a:after {
    display: none;
}

.sidemenu-init nav a:first-child {
    margin: 0px 15px;
}
