body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    color: #000;
    font-family: 'PorscheNewsGothic-Regular';
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

a.link_external {
    color: #7b7b7b;
    text-decoration: underline;
}

a.link_external:hover {
    color: #000;
}

p {
    color: #000;
    font-size: 16px;
}

p.nm {
    margin: 0px;
}

.light,
p.light,
.light p {
    color: #a7a7a7;
}

strong {
    font-family: 'PorscheNewsGothic-Bold';
}

section {
    display: none;
}

input,
select,
button {
    outline: none;
}

h3 {
    font-family: 'PorscheFranklinGothic-Condensed';
    font-size: 26px;
    padding: 0px;
    margin: 20px 0px;
}

h4 {
    font-family: 'PorscheFranklinGothic-Condensed';
    font-size: 20px;
    padding: 0px;
    margin: 15px 0px;
}

.body-wrapp {
    opacity: 0;
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
}

.body-wrapp.active {
    opacity: 1;
}

.active {
    display: block;
}

a.btn_default {
    line-height: 54px;
}

.btn_default,
button[type="submit"] {
    cursor: pointer;
    opacity: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.btn_default:hover,
button[type="submit"]:hover {
    opacity: 0.8;
}

.container {
    width: 80%;
    position: relative;
    display: block;
    height: auto;
    margin: 0px auto;
    max-width: 961px;
}

.section_image {
    position: relative;
    display: block;
    background-size: cover;
    height: 447px;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 9;
    background-image: url(../img/bg.jpg);
    background-position: bottom right;
    background-size: cover;
}

.image_text {
    height: 135px;
    width: 220px;
    position: absolute;
    display: none;
    opacity: 10;
    background-color: #000;
    color: #fff;
    left: 0px;
    bottom: 98px;
    font-family: 'PorscheNewsGothic-Regular';
    font-size: 13px;
    line-height: 22px;
}

.image_text p {}

.content {
    position: relative;
    display: block;
}

.content.min {
    min-height: 300px;
}

.content_title {
    font-size: 36px;
    font-family: 'PorscheFranklinGothic-Condensed';
    padding-top: 15px;
    padding-bottom: 18px;
    border-bottom: 1px solid #cbcbcb;
}

.content_title.main {
    font-size: 40px;
    padding-bottom: 18px;
    padding-top: 10px;
}

.content_title span {
    line-height: 62px;
}

.content_title.main span {
    line-height: 46px;
}

.content_title img {
    position: relative;
    display: block;
    float: right;
}

.content_subtitle {
    font-family: 'PorscheNewsGothic-Regular';
    font-size: 20px;
    color: #939393;
}

.content_title.margin-bottom {
    margin-bottom: 41px;
}

.program.light strong {
    color: #000;
}

.clearfix {
    float: none;
    clear: both;
}

.desktop .section_image .image_text {
    display: block;
}

.hidden {
    display: none;
    visibility: hidden;
}

.nonhighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.external a {
    text-decoration: underline;
}

.external a:hover {
    text-decoration: none;
}


/* lang */

body[data-lang="nl"] .txt-fr {
    display: none;
}

body[data-lang="fr"] .txt-nl {
    display: none;
}

.gallery a {
    line-height: 30px;
}

.gallery-videos {
    position: relative;
    display: block;
    padding-top: 40px;
}

.gallery-videos a {
    position: relative;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

.gallery-videos a img {
    width: 240px;
    height: auto;
}

.gallery-videos a:hover {
    opacity: 0.8;
}
