.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader.center {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.3);
    border-right: 1.1em solid rgba(255, 255, 255, 0.3);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.3);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
}

.loader.small,
.loader.small:after {
    border-radius: 50%;
    width: 6em;
    height: 6em;
}

.loader.small {
    border-top: 0.6em solid rgba(0, 0, 0, 0.3);
    border-right: 0.6em solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.6em solid rgba(0, 0, 0, 0.3);
    border-left: 0.6em solid #000;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
