@media screen and (max-width: 768px) {
    .image_text {
        left: 20px;
        bottom: 20px;
        padding: 0px 20px;
    }
}

@media screen and (max-width: 640px) {
    #playerslist-table tr td {
        font-size: 20px;
    }
    /* nav */
    nav {
        width: 100%;
    }
    nav a:first-child {
        margin: 0px 15px 0px 25px;
    }
    nav a {
        font-size: 22px;
        margin: 0px 15px;
    }
    nav a:after {
        left: -15px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 32px;
    }
    .program {
        font-size: 26px;
    }
    .container {
        width: 100%;
    }
    .mobile .content .image_text {
        display: block;
        position: relative;
        bottom: auto;
        right: auto;
        left: auto;
        top: auto;
        width: 100%;
        font-size: 25px;
        line-height: 30px;
    }
    .content_title img {
        float: none;
        margin: 0px auto;
    }
    .content {
        width: 550px;
        margin: 0px auto;
    }
    .content_title {
        font-size: 55px;
        text-align: center;
    }
    .welcome .column_left,
    .welcome .column_right {
        font-size: 19px;
        width: 100%!important;
        float: none;
        border: none!important;
    }
    .welcome .column_right {
        margin-top: 40px;
    }
    .welcome .column_left p {
        line-height: 42px;
    }
    .welcome .column_right p {
        line-height: 35px;
    }
    .code_header {
        font-size: 36px;
    }
    .personal_code {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        height: 68px;
        font-size: 32px;
        margin-bottom: 30px;
    }
    .btn_lang {
        height: 70px;
        width: 47%;
        margin-right: 0px;
        font-size: 30px;
        line-height: 64px;
    }
    .btn_lang.left {
        margin-right: 6%;
    }
    .btn_default {
        width: 47%;
        height: 70px;
        font-size: 30px;
        line-height: 64px;
    }
    a.btn_default {
        line-height: 70px;
    }
    .footer_txt {
        font-size: 15px!important;
        line-height: 80px;
        float: none;
        clear: both;
        text-align: center;
    }
    .footer_contact {
        float: none;
        clear: both;
        text-align: center;
        font-size: 15px
    }
    footer {
        width: 85%;
        margin: 0px auto;
        z-index: -1;
    }
    .footer-container {
        margin-top: 150px;
    }
    .sponsors img.sponsors-1 {
        width: 526px;
        height: auto;
        float: none;
        margin: 0px auto 20px auto;
    }
    .sponsors img.sponsors-2 {
        width: 431px;
        height: auto;
        float: none;
        margin: 0px auto;
    }
    .welcome form {
        margin-top: 120px;
    }
    .registration .content_subtitle {
        font-size: 32px;
        text-align: center;
        margin-bottom: 0px;
    }
    .checkbox_text {
        font-size: 22px;
        line-height: 28px;
        padding-left: 55px;
    }
    .checkbox {
        height: 30px;
        width: 30px;
    }
    .checkbox_wrapper.active .checkbox:after {
        width: 17px;
        height: 17px;
    }
    .registration form {
        margin-top: 60px;
        max-width: 1000px;
    }
    .column_2 {
        width: 100%;
    }
    .line {
        width: 356px;
    }
    .registration .form_block input {
        height: 64px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 32px;
    }
    .registration .form_block label {
        font-size: 28px;
    }
    .label_text {
        line-height: 34px;
    }
    .registration .form_block select {
        height: 70px;
        width: 98%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 32px;
    }
    .registration .form_block input.handicap_integer {
        max-width: 145px;
    }
    .registration .form_block input.handicap_float {
        max-width: 110px;
    }
    .registration .form_block {
        margin-bottom: 20px;
    }
    .required {
        margin-left: 12px;
        line-height: 48px;
        font-size: 40px;
    }
    .btn_register {
        height: 70px;
        width: 50%;
        margin-right: 0px;
        font-size: 30px;
        line-height: 68px;
        float: none;
        margin: 65px auto 0px auto;
    }
    .note {
        font-size: 14px;
    }
    .ty_text {
        font-size: 19px;
        line-height: 35px;
    }
    .image_text {
        height: 110px;
        width: 85%;
        padding: 5px 20px;
        position: absolute;
        display: block;
        bottom: -127px;
        font-size: 18px;
        line-height: 22px;
        left: 0px;
        right: 0px;
        margin: 0px auto;
    }
    .section_image {
        margin-bottom: 20px;
    }
    .registration .section_image {
        margin-bottom: 0px;
    }
    .lang-buttons .form_inner {
        float: none;
        clear: both;
        padding-top: 10px;
        width: 450px;
    }
    .lang-buttons .section-subtitle {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .change-language {
        top: 0px;
        bottom: 0px;
        right: 30px;
        height: 50px;
        margin: auto 0px;
    }
    .change-language a {
        font-size: 22px;
    }
    .code_helptext {
        margin-top: 65px;
        margin-bottom: 25px;
    }
    .form-event-selection .checkbox_wrapper {
        min-height: 60px;
    }
    .registration .checkbox_text {
        font-size: 22px;
    }
    .registration .note {
        font-size: 18px;
    }
    .registration .form_block .handicaplabel {
        font-size: 22px;
    }
}
