.container table tr.new td {
    padding: 20px 20px 0px 10px;
}

.container table tr:first-child td {
    padding: 0px 20px 0px 10px;
}

.container table tr td {
    padding: 5px 20px 0px 10px;
    font-size: 15px;
}

.playerslist .eventtime p,
.results .eventtime p {
    font-size: 20px;
}

.borderTop td {
    border-top: 1px solid #000;
    padding-top: 5px;
}

.borderBottom td {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.container table tr.last td {
    padding: 5px 20px 20px 10px;
}

.container table tr.last-table td{
	padding: 10px 20px 10px 10px;
}

.row_header {
    background-color: #eee;
}

.results table {
    margin-top: 40px;
}

.container table tr td .order {
    width: 40px;
    display: inline-block;
}

.container table tr.paddtop td{
    padding: 10px 20px 0px 10px;
}

.container table tr.paddbottom td{
    padding: 5px 20px 10px 10px;
}

.container table tr.paddtopbottom td{
    padding: 10px 20px 10px 10px;
}

.event-hr{
    position: relative;
    display: block;
    margin: 90px 0px;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    float: none;
    clear: both;
}