.popup {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
}

.popup .inner {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
}

body.popup-active section {
    display: none!important;
}

body.popup-active .popup {
    display: block;
}

.popup-content {
    position: relative;
    display: block;
    padding: 40px 60px;
}

.popup-content h1 {
    font-family: 'PorscheNewsGothic-Bold';
    font-size: 42px;
}

.popup-content h3 {
    font-family: 'PorscheNewsGothic-Bold';
    font-size: 28px;
}

.popup-content li {
    padding: 10px;
}

.popup .btn-close {
    position: fixed;
    top: 25px;
    right: 40px;
    width: 30px;
    height: 30px;
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    opacity: 1;
}

.popup .btn-close:hover {
    opacity: 0.7;
}

.popup-content .logo {
    margin: 30px auto;
    display: block;
}

.popup-content .logo.cuplogo {
    margin: 30px 0px 30px auto;
}


.popup-fade{
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.9);
    display: none;
    width: 100%;
    height: 100%;
}

.popup-fade .btn-close{
    right: 20px;
    top: -50px;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/close-light.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    opacity: 1;
}

.popup-fade .btn-close:hover{
    opacity: 0.7;
}

.popup-fade .video-wrapp{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 960px;
    height: 540px;
    margin: auto;
}
.video-wrapp video{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}