.form-race-selection .checkbox_wrapper {
    float: none;
    clear: both;
    min-height: 30px;
}

.checkbox_wrapper {
    min-height: 30px;
}

.checkbox {
    width: 15px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    height: 15px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.checkbox_wrapper:hover .checkbox_text {
    text-decoration: underline;
}

.checkbox_wrapper.terms_of_use_checkbox:hover .checkbox_text {
    text-decoration: none;
    cursor: text;
}

.checkbox_wrapper.terms_of_use_checkbox a:hover {
    text-decoration: underline;
}

.checkbox_wrapper.active .checkbox:after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 8px;
    height: 8px;
    background-color: #cc0000;
}

.checkbox_wrapper .checkbox:hover {
    border-color: #666;
}

.checkbox_text {
    float: left;
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    padding-left: 25px;
    color: #a7a7a7;
    font-family: 'PorscheNewsGothic-Regular';
}

.disabled .checkbox {
    visibility: hidden;
}

.full {
    visibility: hidden;
    color: #ff0000;
}

.disabled .full {
    visibility: visible;
}

.disabled.checkbox_wrapper {
    cursor: default;
}

.disabled.checkbox_wrapper:hover .checkbox_text {
    text-decoration: none;
}

.registration .checkbox_text {
    font-size: 15px;
}

.hr {
    position: relative;
    display: block;
    float: none;
    clear: both;
    width: 100%;
    height: 1px;
    background-color: #cbcbcb;
    margin: 20px 0px;
    padding: 0px;
}

form .hr {
    margin: 30px 0px;
}

.line {
    width: 270px;
    height: 1px;
    background-color: #1a1a1a;
    margin: 24px 0px 24px 2px;
}

.checkbox_wrapper {
    cursor: pointer;
    position: relative;
    display: block;
}

.column_2 {
    width: 42%;
    height: auto;
    position: relative;
    display: block;
    float: left;
    padding-right: 20px;
}

.registration form {
    font-family: 'PorscheFranklinGothic-Condensed';
    color: #000;
    margin-top: 30px;
    max-width: 700px;
    margin-left: 0px;
}

.registration .form_block {
    margin-bottom: 10px;
    display: block;
    float: none;
    clear: both;
    min-height: 60px;
}

.col-50 {
    width: 50%;
    float: left;
    min-height: 60px;
}

.col-30 {
    width: 30%;
    float: left;
    min-height: 60px;
}

.col-60 {
    width: 56%;
    float: right;
    min-height: 60px;
}

.cols input {
    width: 95%;
}

.registration .form_block label {
    text-transform: none;
    font-size: 16px;
}

.registration .form_block .handicaplabel {
    font-family: 'PorscheNewsGothic-Bold';
    font-size: 14px;
}

.registration .form_block input {
    height: 27px;
    width: 98%;
    display: block;
    position: relative;
    padding-left: 8px;
    padding-right: 20px;
    border: 2px solid #dddddd;
    border-radius: 4px;
    background-color: #fff;
    color: #cc0000;
    font-size: 20px;
    padding: 5px 20px 5px 8px;
}

.registration .form_block input.handicap_integer {
    max-width: 50px;
    padding: 5px 10px 5px 8px;
    display: inline-block;
}

.registration .form_block input.handicap_float {
    max-width: 50px;
    padding: 5px 10px 5px 8px;
    display: inline-block;
}

.registration .form_block select {
    height: 39px;
    width: 110%;
    display: block;
    position: relative;
    padding: 5px 20px 5px 8px;
    border: 2px solid #dddddd;
    border-radius: 4px;
    background-color: #000;
    color: #cc0000;
    font-size: 20px;
    background-color: transparent;
}

.required {
    font-size: 20px;
    color: #cc0000;
    float: left;
    margin-left: 5px;
    line-height: 20px;
}

.label_text {
    float: left;
    line-height: 16px;
}

.label_text span {
    font-size: 12px;
    text-transform: none;
    font-family: 'PorscheNewsGothic-Regular';
}

.column_2.left {
    margin-right: 50px;
}

.note {
    margin-top: 48px;
    font-family: 'PorscheFranklinGothic-Condensed';
    font-size: 15px;
}

.btn_register {
    font-family: 'PorscheNewsGothic-Regular';
    font-size: 22px;
    background-color: #cc0000;
    border: none;
    border-radius: 4px;
    width: 125px;
    height: 49px;
    color: #fff;
    display: block;
    position: relative;
    text-align: center;
    line-height: 49px;
    float: right;
    margin-top: 32px;
}

select.error,
input.error {
    border: 2px solid #cc0000!important;
}

.subscription_checkbox {
    margin-top: 10px;
}

.billing-address-formpart {
    display: none;
}

.billing_address_checkbox{
    display: none!important;
}
