.menu-burger,
.btn-close-menu {
    position: absolute;
    top: 55px;
    left: 30px;
    width: 50px;
    height: 50px;
    border: none;
    z-index: 10;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #000;
    text-decoration: none;
    display: none;
}
.sidemenu-init .menu-burger,
.sidemenu-init .btn-close-menu{
    display: block;
}

.menu-burger{
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-close-menu{
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    background-position: center center;
}


/* Menu */

.sidemenu-init .menu-inner,
.sidemenu-init .menu-container {
    max-width: 450px;
    width: 450px;
}

.sidemenu-init .menu-inner {
    width: 400px;
    overflow: hidden;
}

.sidemenu-init .menu-wrapper {
    position: fixed;
    left: 0;
    top: 0px;
    width: auto;
    height: 100%;
    z-index: 50;
}

.sidemenu-init .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
}

.sidemenu-init .menu-inner {
    background-color: #ffffff;
    position: absolute;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    will-change: transform;
    z-index: 2;
    pointer-events: auto;
}

.sidemenu-init .menu--visible .menu-container {
    -webkit-transform: none;
    transform: none;
    pointer-events: none;
    opacity: 1;
}

.sidemenu-init .menu-background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    will-change: opacity;
    display: none;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.menu--visible .menu-background {
    pointer-events: auto;
    display: block;
}
