@media screen and (max-width: 1080px) {
    .popup-fade .video-wrapp {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .tablet .section_image .image_text {
        display: block;
        font-size: 15px;
    }
    .content,
    nav {
        width: 680px;
        margin: 0px auto;
    }
    .content_title {
        font-size: 45px;
    }
    .welcome .column_left,
    .welcome .column_right {
        font-size: 20px;
        width: 100%!important;
        float: none;
        border: none!important;
    }
    .welcome .column_left {
        text-align: left;
    }
    .welcome .column_right {
        margin-top: 40px;
    }
    .welcome .column_left p {
        line-height: 34px;
    }
    .welcome .column_right p {
        line-height: 35px;
    }
    .code_header {
        font-size: 25px;
    }
    .personal_code {
        width: 238px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 28px;
    }
    .btn_lang {
        font-size: 22px;
    }
    .btn_lang.right {
        margin-right: 0px;
    }
    .footer_txt {
        line-height: 80px;
        margin-left: 0px;
        text-align: center;
    }
    .footer_txt {
        line-height: 80px;
        float: none;
        clear: both;
        text-align: center;
    }
    .footer_contact {
        float: none;
        clear: both;
        text-align: center;
        font-size: 15px
    }
    footer {
        width: 85%;
        margin: 0px auto;
        z-index: -1;
    }
    .footer-container {
        margin-top: 90px;
    }
    .sponsors img.sponsors-1 {
        width: 526px;
        height: auto;
        float: none;
        margin: 0px auto 20px auto;
    }
    .sponsors img.sponsors-2 {
        width: 431px;
        height: auto;
        float: none;
        margin: 0px auto;
    }
    .welcome form {
        margin-top: 120px;
    }
    .registration .content_subtitle {
        font-size: 30px;
    }
    .checkbox_text {
        line-height: 30px;
        padding-left: 35px;
    }
    .checkbox {
        height: 26px;
        width: 26px;
    }
    .checkbox_wrapper.active .checkbox:after {
        width: 15px;
        height: 15px;
    }
    .registration form {
        margin-top: 60px;
        max-width: 1000px;
    }
    .column_2 {
        width: 100%;
    }
    .line {
        width: 356px;
    }
    .registration .form_block input {
        height: 44px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 24px;
    }
    .registration .form_block label {
        font-size: 21px;
    }
    .label_text {
        line-height: 25px;
    }
    .registration .form_block select {
        height: 55px;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 24px;
    }
    .registration .form_block {
        margin-bottom: 30px;
    }
    .required {
        margin-left: 9px;
        line-height: 36px;
        font-size: 27px;
    }
    .btn_register {
        height: 50px;
        width: 40%;
        margin-right: 0px;
        font-size: 25px;
        line-height: 48px;
        float: none;
        margin: 65px auto 0px auto;
    }
    .ty_text {
        font-size: 20px;
        line-height: 35px;
    }
    .registration .form_block input.handicap_integer {
        max-width: 145px;
    }
    .registration .form_block input.handicap_float {
        max-width: 110px;
    }
}
