.thank-you .content_title {
    text-transform: uppercase;
}

.ty_text {
    font-family: 'PorscheNewsGothic-Regular';
    font-size: 18px;
    color: #fff;
    opacity: 0.7;
}

.ty_text p {
    margin: 36px 0px;
    line-height: 28px;
}
