section.languages {
    min-height: 1000px;
}

.welcome .column_left {
    width: 34%;
    border-right: 1px solid #333333;
}

.welcome .column_right {
    width: 65%;
}

.welcome .column_left,
.welcome .column_right {
    font-family: 'PorscheNewsGothic-Regular';
    font-size: 16px;
    line-height: 22px;
    float: left;
    position: relative;
    display: block;
    opacity: 0.88;
}

.welcome .column_left p:first-child,
.welcome .column_right p:first-child {
    margin-top: 0px;
}

.welcome .column_left p,
.welcome .column_right p {
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 30px
}

.desktop .welcome .column_right .inner_column {
    position: relative;
    display: block;
    width: 90%;
    margin-left: 10%;
}

.desktop .welcome .column_left .inner_column {
    position: relative;
    display: block;
    width: 95%;
    margin-right: 5%;
}

.code_header {
    font-family: 'PorscheFranklinGothic-Condensed';
    font-size: 22px;
}

.welcome form {
    margin-top: 160px;
}

.form_inner {
    margin-top: 15px;
    display: block;
    position: relative;
}

.lang-buttons {
    position: relative;
    display: block;
    height: 55px;
    width: auto;
}

.lang-buttons .section-subtitle {
    position: relative;
    display: block;
    float: none;
    margin-bottom: 20px;
    height: 54px;
    line-height: 54px;
    width: 100%;
    font-family: 'PorscheFranklinGothic-Condensed';
    text-align: center;
}

.lang-buttons .form_inner {
    position: relative;
    width: 325px;
    height: 100px;
    margin: 0px auto;
    float: none;
    display: block;
}

.personal_code {
    width: 265px;
    height: 48px;
    background-color: #e8e8e8;
    padding-right: 31px;
    padding-left: 31px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'PorscheFranklinGothic-Condensed';
    color: #000;
    float: left;
    margin-right: 12px;
    display: block;
    position: relative;
    border: 2px solid #e8e8e8;
}

.btn_default {
    font-family: 'PorscheNewsGothic-Regular';
    width: 150px;
    height: 54px;
    border: none;
    border-radius: 5px;
    background-color: #cc0000;
    border: 2px solid #cc0000;
    font-size: 22px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    display: block;
    position: relative;
    float: left;
    text-align: center;
    line-height: 48px;
}

.btn.inprogress span {
    opacity: 0;
}

.btn .loader {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 3px;
}

.section-subtitle {
    font-family: 'PorscheNewsGothic-Regular';
    font-size: 25px;
    margin-bottom: 52px;
}

.program {
    position: relative;
    display: block;
}

.program .place,
.program .time {
    position: relative;
    display: block;
    min-width: 180px;
    display: inline-block;
}

.informations ul li,
ul.list li {
    margin-bottom: 4px;
}

ul.clubs li{
    margin-bottom: 15px;
}

.informations .note,
.welcome .note {
    font-style: italic;
    padding: 20px 0px;
    margin-top: 0px;
    font-family: 'PorscheNewsGothic-Regular';
}

.error-message {
    display: none;
    color: #ff0000;
}
