<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Porsche Golf Cup 2017</title>
    <!-- build:css(app) css/app.css -->
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/sidemenu.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/loader.css">
    <link rel="stylesheet" type="text/css" href="css/popup.css">
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
    <link rel="stylesheet" type="text/css" href="css/registration.css">
    <link rel="stylesheet" type="text/css" href="css/thank_you.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/playerslist.css">
    <link rel="stylesheet" type="text/css" href="css/tablet.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <!-- endbuild -->
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body class="desktop">
    <div class="body-wrapp">
        <!-- HEADER -->
        <header>
            <div></div>
            <img class="header_logo" src="img/header_logo.jpg">
            <div class="menu-burger"></div>
        </header>
        <div class="menu-wrapper">
            <div class="menu-background"></div>
            <div class="menu-container">
                <div class="menu-inner">
                    <a href="#" class="btn-close-menu"></a>
                    <!-- NAV -->
                    <nav class="translated">
                        <div class="container">
                            <a href="#/"><span>Home</span></a>
                            <a href="#/{{current_lang}}/informations"><span>{{{informations_and_program}}}</span></a>
                            <a href="#/{{current_lang}}/code"><span>{{{registration_and_rules}}}</span></a>
                            <a href="#/{{current_lang}}/playerslist"><span>{{{players_list}}}</span></a>
                            <a href="#/{{current_lang}}/results"><span>{{{results}}}</span></a>
                            <a href="#/{{current_lang}}/gallery"><span>{{{gallery}}}</span></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <section class="languages active">
            <div class="container">
                <div class="section_image"></div>
                <div class="content">
                    <div class="content_title margin-bottom">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="lang-buttons">
                        <div class="section-subtitle">
                            Choose your language:&nbsp;&nbsp;
                        </div>
                        <div class="form_inner">
                            <button type="submit" class="btn_lang btn_default left" data-lang="nl"><span>Nederlands</span></button>
                            <button type="submit" class="btn_lang btn_default right" data-lang="fr"><span>Français</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <!-- *****************
            WELCOME
            ****************** -->
        <section class="welcome">
            <div class="container">
                <div class="section_image"></div>
                <div class="content">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="content_title main">
                        <span>{{{information_and_rules_title}}}</span>
                    </div>
                    <br/>
                    <p>{{{intro}}}</p>
                    <h4>{{{qualifications_title}}}</h4>
                    <div class="program">
                        <span class="place">{{{clubs}}}</span>
                        <span class="time">{{{clubstime}}}</span>
                    </div>
                    <br/>
                    <h4>{{{finales_title}}}</h4>
                    <p class="nm"><strong>{{{finale_belgium}}}</strong></p>
                    <div class="program">
                        <span class="place">{{{finale_belgium_place}}}</span>
                        <span class="time">{{{finale_belgium_time}}}</span>
                    </div>
                    <br/>
                    <p class="nm"><strong>{{{international_finale}}}</strong></p>
                    <div class="program">
                        <span class="place">{{{international_finale_place}}}</span>
                        <span class="time">{{{international_finale_time}}}</span>
                    </div>
                    <br/>
                    <br/>
                    <p style="margin-top:25px;">{{{additional_text}}}</p>
                    <div class="clearfix"></div>
                    <br/>
                    <br/>
                    <a href="#/{{current_lang}}/code" class="btn_default">{{{register}}}</a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <!-- *****************
            CODE
            ****************** -->
        <section class="code">
            <div class="container">
                <div class="section_image"></div>
                <div class="content">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="content_title main">
                        <span>{{{code_title}}}</span>
                        <div class="content_subtitle">
                            {{{code_subtitle}}}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <br/>
                    <form action="cms/api/registrationcode.php" id="form-code">
                        <label class="code_header">{{{personalcode}}}</label>
                        <div class="form_inner">
                            <input type="text" name="personal_code" class="personal_code">
                            <button type="submit" class="btn btn_default submit-code left"><span>{{continue}}</span></button>
                        </div>
                        <div class="clearfix"></div>
                        <p class="error-message" data-codeincorrect="{{{codeincorrect}}}" data-empty="{{{error_emptycode}}}" data-rulesarenotaccepted="{{{rules_are_not_accepted}}}" data-codeused="{{codeused}}"></p>
                        <p class="light code_helptext">{{{code_help}}}</p>
                        <!-- terms of use checkbox -->
                        <div class="checkbox_wrapper terms_of_use_checkbox">
                            <div class="checkbox"></div>
                            <div class="checkbox_text nonhighlight">
                                {{{terms_of_use}}}
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="clearfix"></div>
                        <div class="hr"></div>
                    </form>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <!-- *****************
            SELECT PORSCHE CENTER
            ****************** -->
        <section class="center">
            <div class="container">
                <div class="section_image"></div>
                <div class="content">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="content_title main">
                        <span>{{{center_title}}}</span>
                        <div class="content_subtitle">
                            {{{center_subtitle}}}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <br/>
                    <div class="form-event-selection selected_event">
                        <div class="checkbox_wrapper" data-value="19/05 Royal Sart-Tilman" data-eventid="35">
                            <div class="checkbox"></div>
                            <div class="checkbox_text nonhighlight">19/05 | Royal Sart-Tilman <span class="full">{{{contestisfull}}}</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="checkbox_wrapper" data-value="23/06 Royal Zoute" data-eventid="37">
                            <div class="checkbox"></div>
                            <div class="checkbox_text nonhighlight">23/06 | Royal Zoute <span class="full">{{{contestisfull}}}</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="checkbox_wrapper" data-value="08/09 Royal Antwerp" data-eventid="38">
                            <div class="checkbox"></div>
                            <div class="checkbox_text nonhighlight">08/09 | Royal Antwerp <span class="full">{{{contestisfull}}}</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="checkbox_wrapper" data-value="15/09 Royal Latem" data-eventid="39">
                            <div class="checkbox"></div>
                            <div class="checkbox_text nonhighlight">15/09 | Royal Latem
                                <span class="full">{{{contestisfull}}}</span></div>
                        </div>
                    </div>
                    <br/>
                    <p class="error-message" data-eventnotselected="{{{eventnotselected}}}"></p>
                    <br/>
                    <a href="#/registration" class="btn_default btn_submit_race">{{{continue}}}</a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <!-- *****************
            REGISTRATION FORM
            ****************** -->
        <section class="registration">
            <div class="container">
                <div class="section_image"></div>
                <div class="content">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="content_title main">
                        <span>{{{registration_title}}}</span>
                        <div class="content_subtitle">
                            {{{registration_subtitle}}}
                        </div>
                    </div>
                    <form class="registration_form" method="POST" id="form-register" action="http://porsche-events.be/server-golfcup/public/api/client">
                        <div class="column_2 left">
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{gender}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <select class="person_title selectmenu">
                                    <option value="0"></option>
                                    <option value="{{{gender_male}}}">{{{gender_male}}}</option>
                                    <option value="{{{gender_female}}}">{{{gender_female}}}</option>
                                </select>
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{firstname}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="first_name" class="first_name" value="">
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{lastname}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="last_name" class="last_name" value="">
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{email}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="email" class="email" value="">
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{phone}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="phone_number" class="phone_number" value="">
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{street}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="street" class="street" value="">
                            </div>
                            <div class="form_block cols">
                                <div class="col-30">
                                    <label>
                                        <div class="label_text">{{{number}}}</div>
                                        <div class="required">*</div>
                                        <div class="clearfix"></div>
                                    </label>
                                    <input type="text" name="address_nr" class="address_nr" value="">
                                </div>
                                <div class="col-60">
                                    <label>
                                        <div class="label_text">{{{bte}}}</div>
                                        <div class="required">&nbsp;</div>
                                        <div class="clearfix"></div>
                                    </label>
                                    <input type="text" name="address_bte" class="address_bte optional" value="">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{postcode}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="postcode" class="postcode" value="">
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{city}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="city" class="city" value="">
                            </div>
                        </div>
                        <div class="column_2 right">
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{model}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <select class="selected_model selectmenu">
                                    <option value="0"></option>
                                    <option value="718 Boxster">718 Boxster</option>
                                    <option value="718 Cayman">718 Cayman</option>
                                    <option value="911">911</option>
                                    <option value="Cayenne">Cayenne</option>
                                    <option value="Macan">Macan</option>
                                    <option value="Panamera">Panamera</option>
                                </select>
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{registration_number}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="registration_plates" class="registration_plates" value="">
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{porsche_center_selection}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <select class="selected_porsche_center selectmenu">
                                    <option value="0"></option>
                                    <!-- <option value="Porsche Centre Antwerpen">Porsche Centre Antwerpen</option>
                                    <option value="Porsche Centre Brussels">Porsche Centre Brussels</option>
                                    <option value="Porsche Centre East-Flanders - Carrera Motors">Porsche Centre East-Flanders - Carrera Motors</option>
                                    <option value="Porsche Centre Gembloux - Kronos">Porsche Centre Gembloux - Kronos</option>
                                    <option value="Porsche Centre Knokke">Porsche Centre Knokke</option>
                                    <option value="Porsche Centre Li&#xE8;ge">Porsche Centre Li&#xE8;ge</option>
                                    <option value="Porsche Centre Mechelen">Porsche Centre Mechelen</option>
                                    <option value="Porsche Centre Paal">Porsche Centre Paal</option>
                                    <option value="Porsche Centre West Vlaanderen - RS Motors">Porsche Centre West Vlaanderen - RS Motors</option> -->
                                    <option value="2">Porsche Centre Antwerpen</option>
                                    <option value="3">Porsche Centre Brussels</option>
                                    <option value="9">Porsche Centre East-Flanders - Carrera Motors</option>
                                    <option value="12">Porsche Centre Gembloux - Kronos</option>
                                    <option value="4">Porsche Centre Knokke</option>
                                    <option value="7">Porsche Centre Li&#xE8;ge</option>
                                    <option value="5">Porsche Centre Mechelen</option>
                                    <option value="6">Porsche Centre Paal</option>
                                    <option value="8">Porsche Centre West Vlaanderen - RS Motors</option>
                                </select>
                            </div>
                            <div class="hr"></div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{handicap}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="handicap_integer" class="handicap_integer" value=""> .
                                <input type="text" name="handicap_float" class="handicap_float optional" value=""> <span class="handicaplabel light">{{{handicapmax}}}</span>
                                <input type="hidden" name="handicap_number" class="handicap_number" value="">
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{federation_number}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="federation_number" class="federation_number" value="">
                            </div>
                            <div class="form_block">
                                <label>
                                    <div class="label_text">{{{club}}}</div>
                                    <div class="required">*</div>
                                    <div class="clearfix"></div>
                                </label>
                                <input type="text" name="club" class="club" value="">
                            </div>
                            <div class="hr"></div>
                            <!-- BILLING ADDRESS CHECKBOX -->
                            <div class="checkbox_wrapper billing_address_checkbox">
                                <div class="checkbox"></div>
                                <div class="checkbox_text nonhighlight">
                                    {{{billing_address_checkbox}}}
                                </div>
                            </div>
                            <!-- BILLING ADDRESS -->
                            <div class="billing-address-formpart">
                                <br/>
                                <div class="form_block">
                                    <label>
                                        <div class="label_text">{{{billing_company}}}</div>
                                        <div class="required">*</div>
                                        <div class="clearfix"></div>
                                    </label>
                                    <input type="text" name="billing_company_name" class="billing_company_name" value="">
                                </div>
                                <div class="form_block">
                                    <label>
                                        <div class="label_text">{{{billing_address}}}</div>
                                        <div class="required">*</div>
                                        <div class="clearfix"></div>
                                    </label>
                                    <input type="text" name="billing_company_address" class="billing_company_address" value="">
                                </div>
                                <div class="form_block cols">
                                    <div class="col-30">
                                        <label>
                                            <div class="label_text">{{{number}}}</div>
                                            <div class="required">*</div>
                                            <div class="clearfix"></div>
                                        </label>
                                        <input type="text" name="billing_company_nr" class="billing_company_nr" value="">
                                    </div>
                                    <div class="col-60">
                                        <label>
                                            <div class="label_text">{{{bte}}}</div>
                                            <div class="required">&nbsp;</div>
                                            <div class="clearfix"></div>
                                        </label>
                                        <input type="text" name="billing_company_bte" class="billing_company_bte optional" value="">
                                    </div>
                                </div>
                                <div class="form_block">
                                    <label>
                                        <div class="label_text">{{{postcode}}}</div>
                                        <div class="required">*</div>
                                        <div class="clearfix"></div>
                                    </label>
                                    <input type="text" name="billing_company_postcode" class="billing_company_postcode" value="">
                                </div>
                                <div class="form_block">
                                    <label>
                                        <div class="label_text">{{{city}}}</div>
                                        <div class="required">*</div>
                                        <div class="clearfix"></div>
                                    </label>
                                    <input type="text" name="billing_company_city" class="billing_company_city" value="">
                                </div>
                                <div class="form_block">
                                    <label>
                                        <div class="label_text">{{{vat_number}}}</div>
                                        <div class="required">*</div>
                                        <div class="clearfix"></div>
                                    </label>
                                    <input type="text" name="billing_company_vatnumber" class="billing_company_vatnumber" value="">
                                </div>
                            </div>
                            <br/>
                            <!-- SUBSCRIPTION CHECKBOX -->
                            <div class="checkbox_wrapper subscription_checkbox">
                                <div class="checkbox"></div>
                                <div class="checkbox_text nonhighlight">
                                    {{{subscription_checkbox}}}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="column_2 left">
                            <div class="note"><span style="color:#cc0000;">*</span> <span>{{{requiredfields}}}</span></div>
                        </div>
                        <div class="column_2 right">
                            <button type="submit" class="btn btn_register"><span>{{{continue}}}</span></button>
                            <div class="clearfix"></div>
                            <p class="error-message"></p>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <!-- *****************
            THANK YOU PAGE
            ****************** -->
        <section class="thank-you">
            <div class="container">
                <div class="section_image"></div>
                <div class="content">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <br/>
                    <p class="light">{{{finish_message}}}</p>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <!-- *****************
            INFORMATIONS PAGE
            ****************** -->
        <section class="informations">
            <div class="container">
                <div class="section_image"></div>
                <div class="content">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="content_title main">
                        <span>{{{information_and_rules_title}}}</span>
                    </div>
                    <br/>
                    <h3>{{{program}}}</h3>
                    <h4>{{{qualifications_title}}}</h4>
                    <div class="program light">
                        <span class="place">{{{clubs}}}</span>
                        <span class="time">{{{clubstime}}}</span>
                    </div>
                    <br/>
                    <h4>{{{finales_title}}}</h4>
                    <p class="nm"><strong>{{{finale_belgium}}}</strong></p>
                    <div class="program light">
                        <span class="place">{{{finale_belgium_place}}}</span>
                        <span class="time">{{{finale_belgium_time}}}</span>
                    </div>
                    <br/>
                    <p class="nm"><strong>{{{international_finale}}}</strong></p>
                    <div class="program light">
                        <span class="place">{{{international_finale_place}}}</span>
                        <span class="time">{{{international_finale_time}}}</span>
                    </div>
                    <br/>
                    <p class="light">{{{consult_text}}}</p>
                    <br/>
                    <p class="light">{{{contact_text}}}</p>
                    <div class="clearfix"></div>
                    <br/>
                    <a href="#/code" class="btn_default">{{{register}}}</a>
                </div>
                <br/>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <section class="clubaddresses">
            <div class="container">
                <div class="content min">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="content_title main">
                        <span>{{{clubsaddresses}}}</span>
                    </div>
                    <p>
                        <ul class="list clubs">
                            <li>Royal Sart-Tilman: Route du Condroz 541, 4031 Liège
                                <br/>
                                <a href="http://www.rgcst.be/en/" target="_blank" class="link_external">www.rgcst.be</a>
                            </li>
                            <li>Royal Zoute: Caddiespad 14, 8300 Knokke-Heist
                                <br/>
                                <a href="http://www.rzgc.be/" target="_blank" class="link_external">www.rzgc.be</a>
                            </li>
                            <li>Royal Antwerp:  Torenlei 1A B - 2950 Kapellen
                                <br/>
                                <a href="http://www.ragc.be/" target="_blank" class="link_external">www.ragc.be</a>
                            </li>
                            <li>Royal Latem:  Latemstraat 120 9830 Sint-Martens-Latem
                                <br/>
                                <a href="https://www.latemgolf.be/" target="_blank" class="link_external">www.latemgolf.be</a>
                            </li>
                        </ul>
                        <br/>
                    </p>
                    <a href="#/code" class="btn_default">{{{register}}}</a>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <section class="playerslist">
            <div class="container">
                <div class="content min">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="content_title main">
                        <span>{{{players_list}}}</span>
                    </div>
                    <!-- <p class="light">{{{players_list_txt}}}</p> -->
                    <div class="closedevent">
                        <h3 class="strong eventtime">
                            {{{players_list_eventtime2}}}
                        </h3>
                        <p class="light">{{{players_list_competition}}}</p>
                        <table id="playerslist-table2" border="0px" cellpadding="0px;" cellspacing="0px;">
                            <tr class="row_header">
                                <td>{{{row_start}}}</td>
                                <td>{{{row_name}}}</td>
                                <td>{{{row_fednumber}}}</td>
                                <td>{{{row_handicap}}}</td>
                            </tr>
                        </table>
                        <br/><br/><br/><br/><br/><br/>
                       <div class="content_title main">
                            <span>{{{players_list}}}</span>
                        </div>
                        <h3 class="strong eventtime">
                            {{{players_list_eventtime}}}
                        </h3>
                        <p class="light">{{{players_list_competition}}}</p>
                        <table id="playerslist-table" border="0px" cellpadding="0px;" cellspacing="0px;">
                            <tr class="row_header">
                                <td>{{{row_start}}}</td>
                                <td>{{{row_name}}}</td>
                                <td>{{{row_fednumber}}}</td>
                                <td>{{{row_handicap}}}</td>
                            </tr>
                        </table>
                        <p style="margin-top: 45px;">{{{consult_text}}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <section class="results">
            <div class="container">
                <div class="content min">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="content_title main">
                        <span>{{{results}}}</span>
                    </div>
                    <div class="results-append"></div>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <section class="gallery">
            <div class="container">
                <div class="content min">
                    <div class="content_title">
                        <span>Porsche Golf Cup 2017</span>
                        <img src="img/cup_logo.jpg" />
                    </div>
                    <div class="content_title main">
                        <span>{{{gallery}}}</span>
                    </div>
                    <div class="gallery-videos">
                        <a href="#" onclick="PopupFade.open(); return false;">
                            <img src="videos/Porsche-PCBG2017.jpg"/>
                        </a>
                    </div>
                    <!-- <p class="light">{{{gallery_txt}}}</p> -->
                    <div class="external">{{{gallery_link}}}</div>
                </div>
            </div>
            <div class="container footer-container">
                <footer>
                    <div class="sponsors">
                        <img class="sponsors-1" src="img/sponsors-1.jpg" />
                        <img class="sponsors-2" src="img/sponsors-2.jpg" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer_txt">
                        <span>&copy; 2017 D'Ieteren Porsche Import</span>
                    </div>
                    <div class="footer_contact">
                        Contact: <a href="mailto:marketing@porsche.be">marketing@porsche.be</a>
                        <a href="http://www.porsche.com/belgium/fr/legal-notice/" target="_blank" class="txt-fr">Mentions légales</a>
                        <a href="http://www.porsche.com/belgium/nl/legal-notice/" target="_blank" class="txt-nl">Wettelijke vermelding</a>
                    </div>
                </footer>
            </div>
        </section>
        <!-- *****************
            POPUP
            ****************** -->
        <div class="popup">
            <a href="#" class="btn-close" onclick="Popup.close(); return false;"></a>
            <div class="inner"></div>
        </div>
        <!-- video popup -->
        <div class="popup-fade">
            <div class="video-wrapp">
                <a href="#" class="btn-close" onclick="PopupFade.close(); return false;"></a>
            </div>
        </div>
    </div>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93894996-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- build:js(app) js/libs.js -->
    <script type="text/javascript" src="js/libs/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/libs/hashbang.js"></script>
    <script type="text/javascript" src="js/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="../node_modules/handlebars/dist/handlebars.min.js"></script>
    <script type="text/javascript" src="js/libs/TweenMax.min.js"></script>
    <script type="text/javascript" src="js/libs/utility.js"></script>
    <!-- endbuild -->
    <!-- build:js1(app) js/app.js -->
    <script type="text/javascript" src="js/sidemenu.js"></script>
    <script type="text/javascript" src="js/service.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
    <script type="text/javascript" src="js/popupfade.js"></script>
    <script type="text/javascript" src="js/content.js"></script>
    <script type="text/javascript" src="js/playerslist.js"></script>
    <script type="text/javascript" src="js/resultslist.js"></script>
    <script type="text/javascript" src="js/porscheevent.js"></script>
    <script type="text/javascript" src="js/registration.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <!-- endbuild -->
</body>

</html>
