<!DOCTYPE html>
<html>

<head>
    <title>Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/content.css">
    <link rel="stylesheet" type="text/css" href="css/loading.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </style>
</head>

<body ng-app="contentApp">
    <div class="container content" ng-controller="contentCtrl as newCtrl">
        <div class="row">
            <h2>Content</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3>Add new language</h3>
                <ul>
                    <li ng-repeat="lang in content.languages">
                        <b>{{lang.lang}}</b>
                    </li>
                    <li class="spacetop">
                        <input type="text" name="newlang" ng-model="newlang" placeholder="tag" class="form-control">
                        <input type="button" name="addlang" class="btn btn-primary spacetop" value="Add" ng-click="addLang();">
                        <p class="form-message">{{newlangmessage}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3>Add new text</h3>
                <ul class="ul-new-text">
                    <li>
                        <input type="text" name="newtag" placeholder="text tag" ng-model="newText.tag" class="form-control input-tag">
                        <ul class="textitem spacetop">
                            <li ng-repeat="(key, value) in newText.texts" class="text-item">
                                <span class="lang">{{key}}</span>
                                <textarea name="newcontent" class="form-control" ng-model="newText.texts[key]" placeholder="content"></textarea>
                            </li>
                        </ul>
                        <input type="button" class="btn-addnewtext btn btn-primary" name="addnewtext" value="Add Text" ng-click="addText();">
                        <p class="form-message">{{newtextgmessage}}</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Edit</h3>
                <ul class="ul-edit-text">
                    <li ng-repeat="text in content.texts">
                        <input type="text" name="newtag" class="form-control input-tag" placeholder="text tag" ng-model="text.tag" ng-change="showSaveBtn();">
                        <ul class="textitem spacetop">
                            <li ng-repeat="(key, value) in text.texts" class="text-item">
                                <span class="lang">{{key}}</span>
                                <textarea name="content" class="form-control" placeholder="content" ng-model="text.texts[key]" ng-change="showSaveBtn();"></textarea>
                            </li>
                        </ul>
                        <input type="button" class="btn-savetext btn active" name="savetext" value="Update" ng-click="updateText();">
                    </li>
                </ul>
            </div>
        </div>
        <div class="loading" ng-class="{active: loading=='true'}">
            <div class="loader"></div>
            <div class="label">Loading...</div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/controller.content.js"></script>
</body>

</html>
