    <!-- group -->
    <tr class="new">
        <td>08.00</td>
        <td>Jan-Pieter Pieters</td>
        <td>320181</td>
        <td>9,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Guido Verhoeven</td>
        <td>719484</td>
        <td>10,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Christian Note</td>
        <td>954874</td>
        <td>19,5</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>08.09</td>
        <td>Steven Daemers</td>
        <td>225953</td>
        <td>17,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Nicolas Mortier</td>
        <td>398649</td>
        <td>21,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Eric De Groote</td>
        <td>210372</td>
        <td>21,7</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>08.18</td>
        <td>Thierry Gerniers</td>
        <td>210490</td>
        <td>14,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Jan Hooft</td>
        <td>226222</td>
        <td>24</td>
    </tr>
    <tr>
        <td></td>
        <td>Herwig De Brandt</td>
        <td>249721</td>
        <td>24,5</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>08.27</td>
        <td>Pascale Van Acker-De Pauw*</td>
        <td>210470</td>
        <td>5,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Elke Pessemier*</td>
        <td>700698</td>
        <td>10</td>
    </tr>
    <tr>
        <td></td>
        <td>Inge Dekens-Sterckx*</td>
        <td>210463</td>
        <td>11,2</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>08.36</td>
        <td>Johan Lejeune</td>
        <td>210153</td>
        <td>18,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Paul De Smet-Vandamme</td>
        <td>210520</td>
        <td>23,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean-Pierre Beert</td>
        <td>374875</td>
        <td>28</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>08.45</td>
        <td>Guido Cauwenbergh</td>
        <td>110824</td>
        <td>22,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Patrick Gillis</td>
        <td>182183</td>
        <td>24,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Valérie De Brandt*</td>
        <td>249721</td>
        <td>28,4</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>08.54</td>
        <td>Christophe Van Parys</td>
        <td>117901</td>
        <td>16,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Filip Labaere</td>
        <td>344314</td>
        <td>19,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Patrick Hugenholtz</td>
        <td>226441</td>
        <td>23,8</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>09.03</td>
        <td>Pierre Vandeputte</td>
        <td>223424</td>
        <td>20,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Stijn De Meyer</td>
        <td>1021703</td>
        <td>24,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Alexis Mommens</td>
        <td>1020609</td>
        <td>27</td>
    </tr>







    <!-- group -->
    <tr class="new">
        <td>09.12</td>
        <td>Joachim Van Reepingen</td>
        <td>700699</td>
        <td>12,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Bo Iversen</td>
        <td>233679</td>
        <td>16,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Jos De Donder</td>
        <td>716051</td>
        <td>28</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>09.30</td>
        <td>Samuel Huysman</td>
        <td>708308</td>
        <td>11,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean-François Van Laethem</td>
        <td>215350</td>
        <td>13,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Yves Vandemaele</td>
        <td>206361</td>
        <td>15,4</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>09.39</td>
        <td>Roeland Vanderheyden</td>
        <td>144409</td>
        <td>12,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Stefan Vandeputte</td>
        <td>142835</td>
        <td>18</td>
    </tr>
    <tr>
        <td></td>
        <td>Marianne Vandemaele-Beyens*</td>
        <td>206362</td>
        <td>25,4</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>09.48</td>
        <td>Wouter Vandervennet</td>
        <td>122690</td>
        <td>11,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Alain Vandenbrande</td>
        <td>182474</td>
        <td>17,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Vanessa Volongé*</td>
        <td>174790</td>
        <td>16,8</td>
    </tr>












    <!-- group -->
    <tr class="new">
        <td>09.57</td>
        <td>Christophe Mesdagh</td>
        <td>709761</td>
        <td>16</td>
    </tr>
    <tr>
        <td></td>
        <td>Philippe Leemans</td>
        <td>211244</td>
        <td>20,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Yvan Morel</td>
        <td>193511</td>
        <td>10,6</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>10.06</td>
        <td>Marc Peeters</td>
        <td>183547</td>
        <td>14,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Dirk Rens</td>
        <td>1009677</td>
        <td>17,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Peggy Boeckstaens*</td>
        <td>326267</td>
        <td>7,2</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>10.15</td>
        <td>Francis Adams</td>
        <td>180688</td>
        <td>12,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Luc Morel</td>
        <td>183282</td>
        <td>15</td>
    </tr>
    <tr>
        <td></td>
        <td>Stefaan De Knijf</td>
        <td>326266</td>
        <td>19,1</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>10.24</td>
        <td>Eric Schotte</td>
        <td>238261</td>
        <td>11,4</td>
    </tr>
    <tr>
        <td></td>
        <td>François Tirou</td>
        <td>267436</td>
        <td>13,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Pierre Résimont</td>
        <td>716903</td>
        <td>22</td>
    </tr>








    <!-- group -->
    <tr class="new">
        <td>10.33</td>
        <td>Christophe Adriaansen</td>
        <td>701232</td>
        <td>13,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Jos Aerts</td>
        <td>182313</td>
        <td>19,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Carl Baert</td>
        <td>1019357</td>
        <td>23,3</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>10.42</td>
        <td>Johny Vandenabeele</td>
        <td>209573</td>
        <td>20,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Lieven Bauwens</td>
        <td>249040</td>
        <td>23,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Steve Aerens</td>
        <td>273732</td>
        <td>27</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>10.51</td>
        <td>Rudi Benne</td>
        <td>154004</td>
        <td>14,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Frank Cambie</td>
        <td>210560</td>
        <td>17,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Eugene Beckers</td>
        <td>307938</td>
        <td>27,9</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>11.00</td>
        <td>Tom Vleugels</td>
        <td>155327</td>
        <td>11,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Eduard De Sitter</td>
        <td>ESP</td>
        <td>18,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Michel Teerlinck</td>
        <td>257714</td>
        <td>28</td>
    </tr>















    <!-- group -->
    <tr class="new">
        <td>11.09</td>
        <td>David Hagenaars</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>11.18</td>
        <td>Miguel Buytaert</td>
        <td>192772</td>
        <td>18,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Daniel Bekaert</td>
        <td>119139</td>
        <td>22,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Dirk Boogmans</td>
        <td>104477</td>
        <td>27,2</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>11.27</td>
        <td>Philippe Minnaert</td>
        <td>1021125</td>
        <td>17</td>
    </tr>
    <tr>
        <td></td>
        <td>Jan De Paepe</td>
        <td>NL</td>
        <td>18,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Peter Van der Auwera</td>
        <td>101981</td>
        <td>28,4</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>11.45</td>
        <td>Vincent Hennaux</td>
        <td>715964</td>
        <td>18,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Peter Braem</td>
        <td>301872</td>
        <td>18,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Pascal Harel</td>
        <td>FFG</td>
        <td>28</td>
    </tr>












    <!-- group -->
    <tr class="new">
        <td>11.54</td>
        <td>Christophe Vandaele</td>
        <td>NL</td>
        <td>20,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Eric Volcher</td>
        <td>112181</td>
        <td>23,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Tania Cremers*</td>
        <td>252636</td>
        <td>17,4</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.01</td>
        <td>Marco Willems</td>
        <td>702064</td>
        <td>15,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Mihai Charlier</td>
        <td>719353</td>
        <td>19,2</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.10</td>
        <td>Didier Gallée</td>
        <td>227157</td>
        <td>11,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Marc Dumont</td>
        <td>705003</td>
        <td>16,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Joachim Fronia</td>
        <td>193216</td>
        <td>20,4</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.19</td>
        <td>Guy Piette</td>
        <td>121212</td>
        <td>16,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Juliette Smeys*</td>
        <td>369634</td>
        <td>11,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Ann Slachmuylders*</td>
        <td>335603</td>
        <td>19,9</td>
    </tr>












    <!-- group -->
    <tr class="new">
        <td>12.28</td>
        <td>Marc Vanstaen</td>
        <td>NL</td>
        <td>11,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Chris Goossens</td>
        <td>NL</td>
        <td>16,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Ginette Vanceunebroeke*</td>
        <td>119012</td>
        <td>28,2</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.37</td>
        <td>Claudine Goossens*</td>
        <td>NL</td>
        <td>14,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Anne Saelan*</td>
        <td>428534</td>
        <td>18</td>
    </tr>
    <tr>
        <td></td>
        <td>Isabelle Haverals*</td>
        <td>212661</td>
        <td>22,5</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.46</td>
        <td>Jan Stevens</td>
        <td>215921</td>
        <td>16,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean-Claude Vanhaute</td>
        <td>212662</td>
        <td>16,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Frank Smeys</td>
        <td>176845</td>
        <td>17,7</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.55</td>
        <td>Gaëtane Claesens*</td>
        <td>226148</td>
        <td>15,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Gabrielle Dubail*</td>
        <td>193001</td>
        <td>21</td>
    </tr>
    <tr>
        <td></td>
        <td>Isabelle Proost*</td>
        <td>206455</td>
        <td>24</td>
    </tr>











    <!-- group -->
    <tr class="new">
        <td>13.04</td>
        <td>André Bakevyumusaya</td>
        <td>201191</td>
        <td>4,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Paul Van den Eynde</td>
        <td>176440</td>
        <td>7,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Daniel De Mot</td>
        <td>206237</td>
        <td>9,9</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>13.13</td>
        <td>Patrick Linker</td>
        <td>102022</td>
        <td>17,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Alain Lousse</td>
        <td>220995</td>
        <td>22,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Louise Tanghe*</td>
        <td>102400</td>
        <td>6,6</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>13.22</td>
        <td>Bernd Thijs</td>
        <td>188953</td>
        <td>17,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Serge Platel</td>
        <td>210001</td>
        <td>13</td>
    </tr>
    <tr>
        <td></td>
        <td>Susy Paesmans*</td>
        <td></td>
        <td></td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>13.31</td>
        <td>Alain Devleschoudere</td>
        <td>227050</td>
        <td>19,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Bernard Hertoghe</td>
        <td>211969</td>
        <td>17,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Giovanni Oliveri</td>
        <td>254976</td>
        <td>11,9</td>
    </tr>










    <!-- group -->
    <tr class="new">
        <td>13.40</td>
        <td>Paris Match</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Drappier</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>13.49</td>
        <td>Michel Mabille</td>
        <td>212084</td>
        <td>11,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Denis Henet</td>
        <td>211124</td>
        <td>12,9</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>13.58</td>
        <td>Jean Toussaint</td>
        <td></td>
        <td></td>
    </tr>
