    <!-- group -->
    <tr class="new">
        <td>08.08</td>
        <td>Dave Cafmeyer</td>
        <td>101232</td>
        <td>8,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Luc Descheemaecker</td>
        <td>215741</td>
        <td>9,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Patrick De Lange</td>
        <td>209459</td>
        <td>11,7</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>08.16</td>
        <td>Dominique Dhooge-Verwilghen*</td>
        <td>302863</td>
        <td>17,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Els Verhaeghe*</td>
        <td>209760</td>
        <td>17,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Caroline Heynderickx*</td>
        <td>1134/563844</td>
        <td>19,7</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>08.24</td>
        <td>Wim Verhaeghe</td>
        <td>209760</td>
        <td>4,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Oliver Cafmeyer</td>
        <td>101232</td>
        <td>10,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Tom Devinck</td>
        <td>303369</td>
        <td>13,5</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>08.32</td>
        <td>Pol Salens</td>
        <td>209576</td>
        <td>17,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Marc Verwilghen</td>
        <td>102625</td>
        <td>17,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Henri Van Kerckhoven</td>
        <td>209585</td>
        <td>24,7</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>08.40</td>
        <td>Sébastien De Nolf</td>
        <td>397732</td>
        <td>17,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Jurgen Decruy</td>
        <td>1014473</td>
        <td>18,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Roger Baetens</td>
        <td>143763</td>
        <td>24,3</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>08.48</td>
        <td>Geertrui De Spiegeleir*</td>
        <td>210396</td>
        <td>13,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Kristien Vermeersch*</td>
        <td>216017</td>
        <td>21</td>
    </tr>
    <tr>
        <td></td>
        <td>Conny Cnudde*</td>
        <td>257444</td>
        <td>25,9</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>08.56</td>
        <td>Sophie De Coster-Huygens*</td>
        <td>208800</td>
        <td>16,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Isabelle Decraemer*</td>
        <td>210644</td>
        <td>22,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Olivia Deblaere*</td>
        <td>295576</td>
        <td>26,1</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>09.04</td>
        <td>Alain Glorie</td>
        <td>101036</td>
        <td>18,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Rob Van Waes</td>
        <td>209311</td>
        <td>22,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Sebastien Geeraerd</td>
        <td>195284</td>
        <td>28,2</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>09.12</td>
        <td>Dimitri Vermeersch</td>
        <td>226082</td>
        <td>16,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Philippe De Wilde</td>
        <td>219121</td>
        <td>17,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Agar Daelemans</td>
        <td>189053</td>
        <td>18,7</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>09.28</td>
        <td>Gerard Cuijpers</td>
        <td>188734</td>
        <td>8,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Bart Goeminne</td>
        <td>276035</td>
        <td>9,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Nicolas Karadjian</td>
        <td>715648</td>
        <td>12,6</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>09.36</td>
        <td>Olivier De Vroey</td>
        <td>ragc</td>
        <td>17,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Ivan Brems</td>
        <td>389416</td>
        <td>19,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Patrick Bowman</td>
        <td>106640</td>
        <td>20,8</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>09.44</td>
        <td>Eric Van Gerven</td>
        <td>176724</td>
        <td>11</td>
    </tr>
    <tr>
        <td></td>
        <td>Philippe Vandamme</td>
        <td>163885</td>
        <td>22,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Bert Verelst</td>
        <td>711714</td>
        <td>27,5</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>09.52</td>
        <td>Chantal De Vroey*</td>
        <td>153467</td>
        <td>17,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Nancy Pasmans*</td>
        <td>418448</td>
        <td>18,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Mieke Bowman*</td>
        <td>230589</td>
        <td>20,4</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>10.00</td>
        <td>Paowana Poonpol*</td>
        <td>386150</td>
        <td>11</td>
    </tr>
    <tr>
        <td></td>
        <td>Maggy Bergmans*</td>
        <td>199054</td>
        <td>20,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Maria Bielen*</td>
        <td>294526</td>
        <td>27,9</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>10.08</td>
        <td>Michel Sapart</td>
        <td>206338</td>
        <td>17</td>
    </tr>
    <tr>
        <td></td>
        <td>Luc Buntinx</td>
        <td>177562</td>
        <td>20,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Edwin De Brauwer</td>
        <td>1005816</td>
        <td>26,6</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>10.16</td>
        <td>Evrard Dony</td>
        <td>182673</td>
        <td>22,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Rosanne Volckaert*</td>
        <td>216027</td>
        <td>18,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Marlyse Verbeiren*</td>
        <td>209529</td>
        <td>21,7</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>10.24</td>
        <td>Jan De Lathouwer</td>
        <td>261808</td>
        <td>12,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean-Luc De Potter</td>
        <td>390849</td>
        <td>17,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Vincent De Decker</td>
        <td>de Woeste Kop</td>
        <td>24,8</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>10.40</td>
        <td>Olivier Ketelaer</td>
        <td>155941</td>
        <td>14,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Philip Horemans</td>
        <td>143412</td>
        <td>22,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Kurt Geysels</td>
        <td>176740</td>
        <td>28,4</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>10.48</td>
        <td>David Ducomble</td>
        <td>133863</td>
        <td>11,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Wim Eeckelaers</td>
        <td>112582</td>
        <td>12,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Patrik Geurts</td>
        <td>328354</td>
        <td>25,8</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>10.56</td>
        <td>Jean-Jacques Marchal</td>
        <td>716814</td>
        <td>13,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Bernard Huygens</td>
        <td>254195</td>
        <td>18,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Richard Lhoest</td>
        <td>711988</td>
        <td>21,5</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>11.04</td>
        <td>Christophe Krekels</td>
        <td>253547</td>
        <td>14,8</td>
    </tr>
    <tr>
        <td></td>
        <td>David Hagenaars</td>
        <td>196457</td>
        <td>20,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Veronique van Eyck*</td>
        <td>700355</td>
        <td>7,5</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>11.12</td>
        <td>Stephan Geurts</td>
        <td>177267</td>
        <td>8,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Tom Maris</td>
        <td>188805</td>
        <td>16,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Frank Ramon</td>
        <td>1016764</td>
        <td>24</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>11.20</td>
        <td>Jeanne-Marie Dony*</td>
        <td>224250</td>
        <td>3,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Corinne Schmiliver*</td>
        <td>227707</td>
        <td>14,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Catherine Lhoest*</td>
        <td>711989</td>
        <td>20,5</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>11.28</td>
        <td>Karien De Vusser*</td>
        <td>186885</td>
        <td>17,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Annie Peeters*</td>
        <td>122549</td>
        <td>21,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Nathalie Thiery*</td>
        <td>143013</td>
        <td>26</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>11.44</td>
        <td>Roger Surkyn</td>
        <td>703084</td>
        <td>7,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Thierry Vincent</td>
        <td>170625</td>
        <td>11,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean-Michel Marchal</td>
        <td>260105</td>
        <td>25,2</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>11.52</td>
        <td>Edward Vereecke</td>
        <td>183337</td>
        <td>13,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Carl Verbrugge</td>
        <td>203866</td>
        <td>14,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Rudi Weekers</td>
        <td>199922</td>
        <td>16,4</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>12.00</td>
        <td>Erlend Malfait</td>
        <td>118674</td>
        <td>7,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Benoit Vandermeeren</td>
        <td>182460</td>
        <td>11,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Willy Socquet</td>
        <td>176778</td>
        <td>21,3</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.08</td>
        <td>Denis Stranart</td>
        <td>224251</td>
        <td>9,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Eric Baland</td>
        <td>tba</td>
        <td>8,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean-Marie Schmiliver</td>
        <td>170345</td>
        <td>16,2</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>12.16</td>
        <td>Eddy Mendel</td>
        <td>143260</td>
        <td>10,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Louis Smekens</td>
        <td>116259</td>
        <td>22,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Daniel Rios</td>
        <td>1460123 NL</td>
        <td>28</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.24</td>
        <td>Philippe De Groulaer</td>
        <td>183501</td>
        <td>9,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Fred Moens</td>
        <td>167356</td>
        <td>10</td>
    </tr>
    <tr>
        <td></td>
        <td>Bernard van Pottelsberghe</td>
        <td>255021</td>
        <td>20,3</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>12.32</td>
        <td>Victor Matterne</td>
        <td>186847</td>
        <td>13,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Patrick Naudts</td>
        <td>336249</td>
        <td>23</td>
    </tr>
    <tr>
        <td></td>
        <td>Wim Verbeken</td>
        <td>223117</td>
        <td>28</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.40</td>
        <td>Stephan Michielsen</td>
        <td>153726</td>
        <td>13,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Eric Smets</td>
        <td>263429</td>
        <td>15,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Josée Smeuninx*</td>
        <td>274709</td>
        <td>23</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>12.48</td>
        <td>François Delpire-Crets</td>
        <td>212787</td>
        <td>6,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Jerôme Bodart</td>
        <td>710742</td>
        <td>6,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Stéphanr Marcks</td>
        <td>170092</td>
        <td>9,3</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>12.56</td>
        <td>Philippe Blanpain</td>
        <td>169303</td>
        <td>19,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Etienne Gaye</td>
        <td>214934</td>
        <td>18,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Didier De Coninck</td>
        <td>198950</td>
        <td>26,1</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>13.04</td>
        <td>Armin Van der Linden</td>
        <td>153894</td>
        <td>15,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Guy Faes</td>
        <td>149515</td>
        <td>16,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Guido Vyncke</td>
        <td>176471</td>
        <td>22,8</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>13.12</td>
        <td>Loïc Bacquelaine</td>
        <td>238703</td>
        <td>11,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Paul Bouchat</td>
        <td>255743</td>
        <td>14,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Laurent Boxus</td>
        <td>1012330</td>
        <td>27</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>13.20</td>
        <td>Sami Mechmech</td>
        <td>198382</td>
        <td>11,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Frank Lorge</td>
        <td>Rigenée</td>
        <td>17</td>
    </tr>
    <tr>
        <td></td>
        <td>Willy Gossiaux</td>
        <td>717393</td>
        <td>28,4</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>13.28</td>
        <td>Michel Mabille</td>
        <td>212084</td>
        <td>10,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Philippe Gheeraert</td>
        <td>198623</td>
        <td>17,3</td>
    </tr>
    <tr>
        <td></td>
        <td>David Maus</td>
        <td>238267</td>
        <td>16,9</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>13.36</td>
        <td>Michel Verheughe</td>
        <td>225893</td>
        <td>13,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Walter Torfs</td>
        <td>153858</td>
        <td>17,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Peter Beckers</td>
        <td>371397</td>
        <td>23,1</td>
    </tr>

    <!-- group -->
    <tr class="new">
        <td>13.44</td>
        <td>Alain Devleschoudere</td>
        <td>227050</td>
        <td>19,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Laurent Bakker</td>
        <td>170792</td>
        <td>0,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Olivier Gelas</td>
        <td>705018</td>
        <td>11,8</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>13.52</td>
        <td>John Toussaint</td>
        <td>211493</td>
        <td>8,3</td>
    </tr>
    <tr>
        <td></td>
        <td>John Verdussen</td>
        <td>1001337</td>
        <td>8</td>
    </tr>
    <tr>
        <td></td>
        <td>Alban Vangoidsenhoven</td>
        <td>rwgc</td>
        <td>12,8</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>14.00</td>
        <td>Nicolas Coppée </td>
        <td>722560</td>
        <td>18,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Pierre Van De Wiele</td>
        <td>719359</td>
        <td>12,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Thomas Biot</td>
        <td>169295</td>
        <td>6,6</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>14.08</td>
        <td>Michel Todosijević</td>
        <td>252710</td>
        <td>11,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Danielle Todosijevic*</td>
        <td>252711</td>
        <td>8,9</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>