    <!-- group -->
    <tr class="new">
        <td>08.00</td>
        <td>Vincent Schietekat</td>
        <td>230690</td>
        <td>5,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Tomasz Radzinski</td>
        <td>352174</td>
        <td>10,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Natalia Zvezdina*</td>
        <td>262993</td>
        <td>16,6</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>08.08</td>
        <td>Paul Verbeeck</td>
        <td>192224</td>
        <td>10,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Ludo Vekens</td>
        <td>192823</td>
        <td>19,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Peter Callens</td>
        <td>149836</td>
        <td>20,5</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>08.16</td>
        <td>Daniel Chion</td>
        <td>238546</td>
        <td>16,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Robert Decant</td>
        <td>336129</td>
        <td>21</td>
    </tr>
    <tr>
        <td></td>
        <td>Walter De Kock</td>
        <td>393028</td>
        <td>25,2</td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td>08.24</td>
        <td>Jo De Backer</td>
        <td>263298</td>
        <td>15,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Paul Vanhees</td>
        <td>288926</td>
        <td>18,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Hans Vervaecke</td>
        <td>250278</td>
        <td>20,5</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>08.32</td>
        <td>Christophe Matthys</td>
        <td>1002313</td>
        <td>6,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Dick Boeckx</td>
        <td>163201</td>
        <td>7,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Marc Van Looveren</td>
        <td>156175</td>
        <td>17</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>08.40</td>
        <td>Christian Ophoff</td>
        <td>135414</td>
        <td>12,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Wim Pas</td>
        <td>1004375</td>
        <td>14,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Eic Segers</td>
        <td>153805</td>
        <td>16,9</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>08.48</td>
        <td>Gert Triest</td>
        <td>143024</td>
        <td>12,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Frank Verborgh</td>
        <td>340321</td>
        <td>19,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Patricia Van Roosbroeck*</td>
        <td>174286</td>
        <td>12,1</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>08.56</td>
        <td>Lieve Schrijvers*</td>
        <td>262810</td>
        <td>11,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Cynthia Cuypers*</td>
        <td>153555</td>
        <td>22,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Veerle Goethals*</td>
        <td>1008127</td>
        <td>28,4</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>09.04</td>
        <td>Pierre Triest</td>
        <td>143023</td>
        <td>16,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Kurt De Meerleer</td>
        <td>719696</td>
        <td>19,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Danny De Maeyer</td>
        <td>234239</td>
        <td>21,3</td>
    </tr>






        <!-- group -->
    <tr class="new">
        <td>09.12</td>
        <td>Julien Richelle</td>
        <td>225852</td>
        <td>0,4+</td>
    </tr>
    <tr>
        <td></td>
        <td>Gaetan Deleersnyder</td>
        <td>143649</td>
        <td>3,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Wesley Sonck</td>
        <td>52A1056A</td>
        <td>8,5</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>09.28</td>
        <td>Roger Lemmens</td>
        <td>149910</td>
        <td>15</td>
    </tr>
    <tr>
        <td></td>
        <td>Michael Van den Brandt</td>
        <td>411398</td>
        <td>22,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Frank De Weerdt</td>
        <td>321332</td>
        <td>28,4</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>09.36</td>
        <td>Jos Drooghmans</td>
        <td>199104</td>
        <td>14,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Marc Kurris</td>
        <td>246943</td>
        <td>18,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Guy De Maeseneer</td>
        <td>244889</td>
        <td>25,2</td>
    </tr>




        <!-- group -->
    <tr class="new">
        <td>09.44</td>
        <td>Etienne Fleury</td>
        <td>149520</td>
        <td>15,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Bart Bosmans</td>
        <td>186944</td>
        <td>19,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Marc Braeckmans</td>
        <td>1026785</td>
        <td>28,2</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>09.52</td>
        <td>Bert Fleury</td>
        <td>149519</td>
        <td>10,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Pau Bruyninckx</td>
        <td>426993</td>
        <td>24,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Pascal Danneels</td>
        <td>281230</td>
        <td>28,2</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>10.00</td>
        <td>Christiaan Claes</td>
        <td>435896</td>
        <td>13,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Paul Cordier</td>
        <td>290147</td>
        <td>24</td>
    </tr>
    <tr>
        <td></td>
        <td>Bavo De Cock</td>
        <td>1004229</td>
        <td>28</td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td>10.08</td>
        <td>Bernard Dessy</td>
        <td>169633</td>
        <td>18,2</td>
    </tr>
    <tr>
        <td></td>
        <td>David Johnson</td>
        <td>710224</td>
        <td>19,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean-Pierre Coyette</td>
        <td>707970</td>
        <td>24,2</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>10.16</td>
        <td>Wilfried Dekrem</td>
        <td>270150</td>
        <td>15,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Didier Deboosere</td>
        <td>209942</td>
        <td>20,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Betty Boonen*</td>
        <td>143026</td>
        <td>24,9</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>10.24</td>
        <td>Luc Lormans</td>
        <td>186729</td>
        <td>18,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Joeri Keuppens</td>
        <td>342107</td>
        <td>20,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Vincent Degroote</td>
        <td>1030512</td>
        <td>25,2</td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td>10.32</td>
        <td>Stephan Vanswartenbrouck</td>
        <td>230815</td>
        <td>10,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Dimitri De Vuyst</td>
        <td>291249</td>
        <td>18,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Eddy Devreker</td>
        <td>2065595</td>
        <td>23,9</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>10.40</td>
        <td>Christian Groulus</td>
        <td>222983</td>
        <td>7,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Axel Lambregts</td>
        <td>182639</td>
        <td>13,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Eric Evrard</td>
        <td>1010998</td>
        <td>25,4</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>10.48</td>
        <td>Paul Hansen </td>
        <td>186869</td>
        <td>3,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Yannick Peeters</td>
        <td>144512</td>
        <td>12</td>
    </tr>
    <tr>
        <td></td>
        <td>Guy Hendrickx</td>
        <td>298080</td>
        <td>24</td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td>10.56</td>
        <td>Wilfried Pieters</td>
        <td>176867</td>
        <td>12,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Luc Opdebeeck</td>
        <td>194242</td>
        <td>23,4</td>
    </tr>
    <tr>
        <td></td>
        <td>Kris Govaerts</td>
        <td>315771</td>
        <td>28</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>11.04</td>
        <td>Christophe Krekels</td>
        <td>253547</td>
        <td>14,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Philip Bogaert</td>
        <td>310160</td>
        <td>8,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Veronique van Eyck*</td>
        <td>700355</td>
        <td>7,5</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>11.12</td>
        <td>Peter Schepens</td>
        <td>199235</td>
        <td>15,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Erik Theunis</td>
        <td>417640</td>
        <td>20,7</td>
    </tr>
    <tr>
        <td></td>
        <td>Danny Haest</td>
        <td>1031957</td>
        <td>28</td>
    </tr>




        <!-- group -->
    <tr class="new">
        <td>11.28</td>
        <td>Hilde Vanhouteghem*</td>
        <td>210053</td>
        <td>15,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Caroline Harper*</td>
        <td>186870</td>
        <td>16,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Vera Pauwels*</td>
        <td>149612</td>
        <td>21,8</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>11.36</td>
        <td>Jinke Vink*</td>
        <td>709478</td>
        <td>16,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Benjamine Thienpont*</td>
        <td>233608</td>
        <td>21</td>
    </tr>
    <tr>
        <td></td>
        <td>Monique Maras*</td>
        <td>149586</td>
        <td>25,8</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>11.44</td>
        <td>Eric Smets</td>
        <td>263429</td>
        <td>15,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Ronny Smolders</td>
        <td>186382</td>
        <td>16</td>
    </tr>
    <tr>
        <td></td>
        <td>Cydi Roten</td>
        <td>1016354</td>
        <td>25,6</td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td>11.52</td>
        <td>Paul Verfaellie</td>
        <td>209923</td>
        <td>18,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Gudrun Vermunicht</td>
        <td>324750</td>
        <td>23,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Anne Vandeputte*</td>
        <td>144404</td>
        <td>22,6</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>12.00</td>
        <td>Stéphane Deckx</td>
        <td>700394</td>
        <td>7,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Arnaud Verfaillie</td>
        <td>FFG</td>
        <td>9,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Bernard Van Bellingen</td>
        <td>235591</td>
        <td>23</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>12.08</td>
        <td>Muts Verfaellie*</td>
        <td>210106</td>
        <td>12,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Maria De Decker*</td>
        <td>181732</td>
        <td>17,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Maria Bielen*</td>
        <td>294526</td>
        <td>28,4</td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td>12.16</td>
        <td>Christine Verhaeghe*</td>
        <td>353767</td>
        <td>12</td>
    </tr>
    <tr>
        <td></td>
        <td>Sophie Rombouts*</td>
        <td>246946</td>
        <td>12,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Joelle Senden* </td>
        <td>709669</td>
        <td>13,2</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>12.24</td>
        <td>Michel Baikry</td>
        <td>206866</td>
        <td>10,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Pierre Dufrasne</td>
        <td>231634</td>
        <td>17</td>
    </tr>
    <tr>
        <td></td>
        <td>Marius Naum</td>
        <td>255962</td>
        <td>25,4</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>12.32</td>
        <td>Fabrice Lanove</td>
        <td>373192</td>
        <td>14,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Paul-Emmanuel Schoepp</td>
        <td>201364</td>
        <td>19,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Bernard Delfosse</td>
        <td>234214</td>
        <td>28,4</td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td>12.40</td>
        <td>Olivier Goies</td>
        <td>249432</td>
        <td>10,3</td>
    </tr>
    <tr>
        <td></td>
        <td>jacques Quemere</td>
        <td>718863</td>
        <td>16,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Sophie Rassart*</td>
        <td>115848</td>
        <td>7,1</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>12.48</td>
        <td>Thibault Cloetens</td>
        <td>101283</td>
        <td>10,9</td>
    </tr>
    <tr>
        <td></td>
        <td>Peter Watteeuw</td>
        <td>118004</td>
        <td>23</td>
    </tr>
    <tr>
        <td></td>
        <td>Jo François</td>
        <td>186209</td>
        <td>26</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>12.56</td>
        <td>Claude Van Maele</td>
        <td>1016781</td>
        <td>27</td>
    </tr>
    <tr>
        <td></td>
        <td>Jan Van Dyck</td>
        <td>103912</td>
        <td>28,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Karel Schodts</td>
        <td>181732</td>
        <td>28,4</td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td>13.04</td>
        <td>Patrick Hansen</td>
        <td>172500</td>
        <td>11,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Peter Vercruyssen</td>
        <td>293795</td>
        <td>26,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Danielle Maquet*</td>
        <td>172320</td>
        <td>13,8</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>13.12</td>
        <td>Benny Cleeren</td>
        <td>1017433</td>
        <td>19,3</td>
    </tr>
    <tr>
        <td></td>
        <td>Florent Godin</td>
        <td>1002758</td>
        <td>25</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>13.20</td>
        <td>Arthur van der Linden</td>
        <td>164333</td>
        <td>9,1</td>
    </tr>
    <tr>
        <td></td>
        <td>Eric Bakker</td>
        <td>157185</td>
        <td>21</td> 
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td>13.28</td>
        <td>Michel Mabille</td>
        <td>212084</td>
        <td>11,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Eric Balan</td>
        <td>195446</td>
        <td>8,5</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean Wouters</td>
        <td>720053</td>
        <td>16</td>
    </tr>


    <!-- group -->
    <tr class="new">
        <td>13.36</td>
        <td>Jean Toussaint</td>
        <td>211492</td>
        <td>5</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean Laurencin</td>
        <td>192361</td>
        <td>4,8</td>
    </tr>
    <tr>
        <td></td>
        <td>Valérie van den Bemden*</td>
        <td>191980</td>
        <td>9,6</td>
    </tr>



    <!-- group -->
    <tr class="new">
        <td>13.44</td>
        <td>Miguel Tasso</td>
        <td>227782</td>
        <td>12</td>
    </tr>
    <tr>
        <td></td>
        <td>Thierry Groeteclaes</td>
        <td>703682</td>
        <td>10,2</td>
    </tr>
    <tr>
        <td></td>
        <td>Jean-Michel Hamon</td>
        <td>700252</td>
        <td>13,7</td>
    </tr>



        <!-- group -->
    <tr class="new">
        <td></td>
        <td>Etienne Gaye</td>
        <td>214934</td>
        <td>14</td>
    </tr>
    <tr>
        <td></td>
        <td>Eric Hadidi</td>
        <td>216126</td>
        <td>12,6</td>
    </tr>
    <tr>
        <td></td>
        <td>Stephan Christiaens</td>
        <td>FFG</td>
        <td>?</td>
    </tr>
