
<!-- =====================
	 EVENT 1
	 ===================== -->

<h3 class="strong eventtime"><p>Kwalificatiewedstrijd&nbsp;<br> Club Royal Sart-Tilman – 19 mei 2017</p></h3>
<p class="light">18 holes – Competitie single stableford</p>
<table border="0px" cellpadding="0px;" cellspacing="0px;">
    <tr class="new">
        <td>Best Gross Ladies :</td>
        <td><span class="order">&nbsp;</span>Danielle Maquet</td>
        <td>18</td>
    </tr>
    <tr class="last" r>
        <td>Best Gross Gentlemen :</td>
        <td><span class="order">&nbsp;</span>Michel Braet</td>
        <td>27</td>
    </tr>
    <tr class="new borderTop">
        <td>Cat 1.</td>
        <td><span class="order">1.</span>André Henveaux</td>
        <td>34</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>Pedro Da Costa</td>
        <td>33</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">3.</span>Zakari Laamari</td>
        <td>33</td>
    </tr>
    <tr class="new">
        <td>Cat 2.</td>
        <td><span class="order">1.</span>Pierre Closon</td>
        <td>38</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>Thierry De Meulenaere</td>
        <td>35</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">3.</span>Jan De Roy</td>
        <td>33</td>
    </tr>
    <tr class="new">
        <td>Cat 3.</td>
        <td><span class="order">1.</span>Michel Etienne</td>
        <td>33</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>Anja Vissers </td>
        <td>31</td>
    </tr>
    <tr class="last">
        <td></td>
        <td><span class="order">3.</span>Jean-Louis Ripet</td>
        <td>27</td>
    </tr>
    <tr class="borderTop borderBottom last-table">
        <td>Wild card : </td>
        <td><span class="order">&nbsp;</span>Cédric Ernult</td>
        <td></td>
    </tr>
</table>
<p style="margin-top: 45px;">Deze 12 spelers hebben zich geplaatst voor de Belgische Porsche Golf Finale welke zal doorgaan op vrijdag 29 september te Royal Waterloo Golf Club.</p>

<!-- =====================
	 EVENT 2
	 ===================== -->

<div class="event-hr"></div>

<h3 class="strong eventtime"><p>Royal Zoute 23 juni 17</p></h3>
<p class="light">18 holes – Competitie single stableford</p>
<table border="0px" cellpadding="0px;" cellspacing="0px;">
    <tr class="new">
        <td>Best Gross Ladies :</td>
        <td><span class="order">&nbsp;</span>Jeanne-Marie Dony*</td>
        <td>28</td>
    </tr>
    <tr class="last" r>
        <td>Best Gross Gentlemen :</td>
        <td><span class="order">&nbsp;</span>Jerome Bodart</td>
        <td>25</td>
    </tr>
    <tr class="new borderTop">
        <td>Cat 1.</td>
        <td><span class="order">1.</span>Philip De Wilde</td>
        <td>39</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>Rudi Weekers</td>
        <td>38</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">3.</span>Dominique Dhooge*</td>
        <td>36 (NA)</td>
    </tr>
    <tr class="new">
        <td>Cat 2.</td>
        <td><span class="order">1.</span>Patrik Geurts</td>
        <td>38</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>Bernard van Pottelsberghe</td>
        <td>37</td>
    </tr>
    <tr class="paddbottom">
        <td></td>
        <td><span class="order">3.</span>Philippe Blanpain </td>
        <td>34</td>
    </tr>
    <tr class="new paddtopbottom">
        <td>Cat 3.</td>
        <td><span class="order">1.</span>Wim Verbeken</td>
        <td>24</td>
    </tr>
    <tr class="borderTop paddtop">
        <td>Wild cards : </td>
        <td><span class="order">&nbsp;</span>Eddy Mendel</td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><span class="order">&nbsp;</span>Frank Ramon</td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><span class="order">&nbsp;</span>Isabelle Hellemans*</td>
        <td></td>
    </tr>
    <tr class="borderBottom paddbottom">
        <td>&nbsp;</td>
        <td><span class="order">&nbsp;</span>Philippe Vandamme</td>
        <td></td>
    </tr>
</table>
<p style="margin-top: 45px;">Al deze spelers (behalve NA) hebben zich geplaatst voor de Belgische Porsche Golf Finale welke zal doorgaan op vrijdag 29 september te Royal Waterloo Golf Club.</p>


<!-- =====================
     EVENT 3
     ===================== -->

<div class="event-hr"></div>

<h3 class="strong eventtime"><p>Royal Antwerp 08/09/17</p></h3>
<p class="light">Competitie single stableford</p>
<table border="0px" cellpadding="0px;" cellspacing="0px;">
    <tr class="new">
        <td>Best Gross Ladies :</td>
        <td><span class="order">&nbsp;</span>Lieve De Backer-Schrijvers*</td>
        <td>21</td>
    </tr>
    <tr class="last" r>
        <td>Best Gross Gentlemen :</td>
        <td><span class="order">&nbsp;</span>Julien Richelle</td>
        <td>39</td>
    </tr>
    <tr class="new borderTop">
        <td>Cat 1.</td>
        <td><span class="order">1.</span>Christophe Matthys</td>
        <td>41</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>Yannick Peeters</td>
        <td>38</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">3.</span>Gaëtan Deleersnyder</td>
        <td>36</td>
    </tr>
    <tr class="new">
        <td>Cat 2.</td>
        <td><span class="order">1.</span>Michael Van Den Brandt </td>
        <td>38</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>David Johnson</td>
        <td>37</td>
    </tr>
    <tr class="paddbottom">
        <td></td>
        <td><span class="order">3.</span>Peter Watteeuw</td>
        <td>35</td>
    </tr>
    <tr class="new paddtop">
        <td>Cat 3.</td>
        <td><span class="order">1.</span>Bavo De Cock</td>
        <td>43</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>Frank De Weerdt</td>
        <td>41</td>
    </tr>
    <tr class="paddbottom">
        <td></td>
        <td><span class="order">3.</span>Peter Vercruyssen</td>
        <td>29</td>
    </tr>
    <tr class="borderTop paddtopbottom">
        <td>Wild cards : </td>
        <td><span class="order">&nbsp;</span>Robert Decant</td>
        <td></td>
    </tr>
</table>
<p style="margin-top: 45px;">Al deze spelers (behalve NA) hebben zich geplaatst voor de Belgische Porsche Golf Finale welke zal doorgaan op vrijdag 29 september te Royal Waterloo Golf Club.</p>



<div class="event-hr"></div>


<!-- =====================
     FINAL EVENT
     ===================== -->

<h3 class="strong eventtime"><p>Royal Waterloo Golf Club - 29/09/17</p></h3>
<p class="light">Competitie single stableford.</p>
<table border="0px" cellpadding="0px;" cellspacing="0px;">
    <tr class="new">
        <td>Best Gross Ladies :</td>
        <td><span class="order">&nbsp;</span>Louise Tanghe* </td>
        <td>29</td>
    </tr>
    <tr class="last" r>
        <td>Best Gross Gentlemen :</td>
        <td><span class="order">&nbsp;</span>Julien Richelle*</td>
        <td>39</td>
    </tr>
    <tr class="new borderTop">
        <td>Cat 1.</td>
        <td><span class="order">1.</span>Christophe Mesdagh*</td>
        <td>39</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>André Bakevyumusaya</td>
        <td>37</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">3.</span>Gaëtan Deleersnyder</td>
        <td>34</td>
    </tr>
    <tr class="new">
        <td>Cat 2.</td>
        <td><span class="order">1.</span>Philippe Blanpain*</td>
        <td>37</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>Cedric Ernult</td>
        <td>36</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">3.</span>Stefaan De Knijf</td>
        <td>33</td>
    </tr>
    <tr class="new">
        <td>Cat 3.</td>
        <td><span class="order">1.</span>Pascal Harel   *</td>
        <td>39</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="order">2.</span>Michel Etienne</td>
        <td>36</td>
    </tr>
    <tr class="borderBottom last">
        <td></td>
        <td><span class="order">3.</span>Jean-Louis Piret</td>
        <td>35</td>
    </tr>
</table>
<p style="margin-top: 45px;">
    * players qualified for the Porsche Golf Cup World Final in May 2018 in Mallorca.
</p>

