.content ul {
    list-style: none;
}

.text-item {
    position: relative;
    list-style: none;
}

.text-item .lang {
    display: block;
    min-width: 40px;
    height: 30px;
    line-height: 20px;
    position: absolute;
    top: 10px;
    bottom: 0px;
    left: -30px;
    margin: 0px auto;
    padding: 5px 10px 5px 5px;
    text-align: right;
    background-color: #eee;
}

.text-item textarea {
    display: inline-block;
}

.form-control.input-tag{
    background-color: #eee;
}

p.form-message,
.btn-addnewtext,
.btn-savetext {
    margin-top: 10px;
    margin-left: 40px;
}

.btn.btn-primary.btn-savetext {
    display: none;
}

.btn.btn-primary.btn-savetext.active {
    display: block;
}

.btn.btn-default.spacetop,
.spacetop {
    margin-top: 10px;
}

.ul-edit-text li,
.ul-new-text li{
    margin-bottom: 40px;
    padding: 10px;
}
.textitem li{
    padding: 10px;
    margin-bottom: 0px;
}
.container.content textarea{
    min-height: 120px;
}
