
.loading {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 170px;
    height: 50px;
    z-index: 5;
    display: none;
    padding: 10px;
}

.loading::after {
    content: "";
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

.loading.active {
    display: block;
}

.loading.active .loader {
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
}

.loading .label {
    position: relative;
    display: block;
    width: auto;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    float: left;
    color: #000;
    margin: 0px 10px;
    z-index: 2;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.loader {
    z-index: 2;
    margin: 5px auto;
    font-size: 5px;
    position: relative;
    float: left;
    text-indent: -9999em;
    border-top: 3px solid rgba(155, 155, 155, 0.5);
    border-right: 3px solid rgba(155, 155, 155, 0.5);
    border-bottom: 3px solid rgba(155, 155, 155, 0.5);
    border-left: 3px solid #000000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}