<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
    <!--[if mso]>
    <style type="text/css">
    body, table, td {font-family: Arial, Helvetica, sans-serif !important;}
    table tr {padding: 15px 0px;}
    </style>
    <![endif]-->
</head>

<body style="width: 600px;margin:0px auto;padding:0px;position: relative;font-family: Arial, Helvetica, sans-serif;">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="position: relative;display: block;height: auto;padding:0px;margin:0px;width: 600px;">
                <img src="http://porsche-events.be/golfcup/mail/img/logo.jpg" style="width: 600px;" alt="porsche events be">
            </td>
        </tr>
        <tr>
            <td style="position: relative;display: block;height:auto;padding:0px;margin:0px;width: 600px;">
                <img src="http://porsche-events.be/golfcup/mail/img/header.jpg" style="width: 600px;" align="Porsche Family Reunion">
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;padding:0px;line-height: 16px;border-bottom: 1px solid #ccc;">
                <table border="0" cellspacing="0" cellpadding="0">
                    <td style="width: 380px;position: relative;;padding:0px;line-height: 16px;">
                        <br/>
                        <p style="font-size: 22px;font-weight: bold;letter-spacing: -1px;text-align:left;margin-left:20px;">
                            <br/>Porsche Golf Cup 2017
                        </p>
                        <br/>
                    </td>
                    <td style="width: 180px;position: relative;padding:0px;line-height: 16px;">
                        <br/>
                        <img src="http://porsche-events.be/golfcup/mail/img/cup_logo.jpg " style="width: 160px;margin:5px auto " alt="Porsche Golf Cup ">
                        <br/>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;margin:0px auto;padding:0px;line-height: 16px; ">
                <p style="font-size: 20px;font-weight: bold;letter-spacing: -1px; margin-left:20px;margin-right:20px;">
                    <br/>Porsche GOLF CUP 2017 | Confirmation
                    <br/>
                    <br/>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;margin:0px auto;padding:0px;line-height: 16px; ">
                <p style="font-size: 14px;font-weight: bold;margin:0px; margin-left:20px;margin-right:20px;">
                    {% if title == 'Mr' %}
                    Cher Monsieur {{lastname}},
                    {% else %}
                    Ch&#232;re Madame {{lastname}},
                    {% endif %}
                    <br/>
                    <br/>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;margin:0px auto;padding:0px;line-height: 16px; ">
                <p style="font-size: 14px;margin:0px;margin-left:20px;margin-right:20px;">
                    Nous avons le plaisir de vous confirmer votre demande d&#x2019;inscription pour l&#x2019;&#xE9;preuve de qualification au golf {{name_of_the_event}} le {{date_of_the_event}}.
                    <br/>
                    <br/> Votre inscription sera confirm&#xE9;e d&#xE9;finitivement par e-mail d&#xE8;s que le paiement des frais d&#x2019;inscription aura &#xE9;t&#xE9; r&#xE9;gl&#xE9; aupr&#xE8;s du Porsche Centre s&#xE9;lectionn&#xE9; lors de l&#x2019;inscription.
                    <br/>
                    <br/>Montant : 150&#x20AC; TVAC
                    <br/>N&#xB0; de compte : {{selected_porsche_center_bank_account_number}} au nom du {{selected_porsche_center}}
                    <br/>
                    <br/>Communication &#xE0; mentionner sur le virement : PGC17 - Date de l&#x2019;&#xE9;preuve - Nom participant
                    <br/>
                    <br> Nous vous invitons &#xE0; revenir sur notre site <a href="http://porsche-events.be/golfcup/ " target="_blank ">http://porsche-events.be/golfcup/</a>  une semaine avant la date d&#x2019;&#xE9;preuve, pour consulter le programme de la journ&#xE9;e et votre heure de d&#xE9;part.
                    <br/>
                    <br/> Au plaisir de partager cette journ&#xE9;e de qualification entre Porschiste,
                    <br/>
                    <br/>
                    <br/>L'Equipe Porsche.
                    <br/>
                    <br/>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;margin:0px auto;padding:0px;line-height: 16px; " align="center">
                <br/>
                &nbsp;
                <br/>
                <img src="http://porsche-events.be/golfcup/mail/img/sponsors.jpg" style="width: 540px;" alt="Porsche Golf Cup Sponsors">
                <br/>
                &nbsp;
                <br/>
            </td>
        </tr>
        <tr>
            <td style="display: block;height: 40px;width: 600px;margin-top:50px;line-height: 40px;background-color: #eeeced;color: #9d9d9d;font-size: 13px; ">
                <table cellpadding="0 " cellspacing="0 " border="0 ">
                    <tr>
                        <td style="width:600px;text-align: center; " align="center"><a style="text-decoration: underline;color:#9d9d9d;display:block;text-align:center; font-size: 11px " href="http://porsche-events.be/golfcup/ " target="_blank ">http://porsche-events.be/golfcup/</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
