<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
    <!--[if mso]>
    <style type="text/css">
    body, table, td {font-family: Arial, Helvetica, sans-serif !important;}
    table tr {padding: 15px 0px;}
    </style>
    <![endif]-->
</head>

<body style="width: 600px;margin:0px auto;padding:0px;position: relative;font-family: Arial, Helvetica, sans-serif;">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="position: relative;display: block;height: auto;padding:0px;margin:0px;width: 600px;">
                <img src="http://porsche-events.be/golfcup/mail/img/logo.jpg" style="width: 600px;" alt="porsche events be">
            </td>
        </tr>
        <tr>
            <td style="position: relative;display: block;height:auto;padding:0px;margin:0px;width: 600px;">
                <img src="http://porsche-events.be/golfcup/mail/img/header.jpg" style="width: 600px;" alt="Porsche Family Reunion">
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;padding:0px;line-height: 16px;border-bottom: 1px solid #ccc;">
                <table border="0" cellspacing="0" cellpadding="0">
                    <td style="width: 380px;position: relative;;padding:0px;line-height: 16px;">
                        <br/>
                        <p style="font-size: 22px;font-weight: bold;letter-spacing: -1px;text-align:left;margin-left:20px;">
                            <br/>Porsche Golf Cup 2017
                        </p>
                        <br/>
                    </td>
                    <td style="width: 180px;position: relative;padding:0px;line-height: 16px;">
                        <br/>
                        <img src="http://porsche-events.be/golfcup/mail/img/cup_logo.jpg " style="width: 160px;margin:5px auto " align="Porsche Golf Cup ">
                        <br/>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;margin:0px auto;padding:0px;line-height: 16px; ">
                <p style="font-size: 20px;font-weight: bold;letter-spacing: -1px; margin-left:20px;margin-right:20px;">
                    <br/>Porsche GOLF CUP 2017 | Confirmation
                    <br/>
                    <br/>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;margin:0px auto;padding:0px;line-height: 16px; ">
                <p style="font-size: 14px;font-weight: bold;margin:0px;margin-left:20px;margin-right:20px;">
                    {% if title == 'Dhr' %}
                    Beste Mijnheer {{lastname}},
                    {% else %}
                    Beste Mevrouw {{lastname}},
                    {% endif %}
                    <br/>
                    <br/>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;margin:0px auto;padding:0px;line-height: 16px; ">
                <p style="font-size: 14px;margin:0px;margin-left:20px;margin-right:20px;">
                    Het doet ons genoegen uw inschrijvingsaanvraag voor de kwalificatiewedstrijd te golf {{name_of_the_event}} op {{date_of_the_event}} te bevestigen.
                    <br/>
                    <br/> Vanaf de betaling van de deelnamekosten wordt geregistreerd bij het bij uw inschrijving geselecteerde Porsche Centre is uw inschrijving definitief.
                    <br/>
                    <br/>Bedrag: 150&#x20AC; BTWi
                    <br/>Rekeningnummer: {{selected_porsche_center_bank_account_number}} op naam van {{selected_porsche_center}}
                    <br/>
                    <br/>Te vermelden mededeling op de overschrijving: PGC17 - Datum van de wedstrijd - Naam van deelnemer
                    <br/>
                    <br> E&#xE9;n week voor de start van het evenement kan u op onze website <a href="http://porsche-events.be/golfcup/ " target="_blank ">http://porsche-events.be/golfcup/</a> terecht voor het programma van de dag en uw startuur.
                    <br/>
                    <br/> We kijken er nu al naar uit om u op deze kwalificatiewedstrijd onder Porschisten te mogen verwelkomen,
                    <br/>
                    <br/>
                    <br/>Het Porsche team
                    <br/>
                    <br/>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 600px;position: relative;display: block;margin:0px auto;padding:0px;line-height: 16px; " align="center">
                <br/>
                &nbsp;
                <br/>
                <img src="http://porsche-events.be/golfcup/mail/img/sponsors.jpg" style="width: 540px" alt="Porsche Golf Cup Sponsors">
                <br/>
                &nbsp;
                <br/>
            </td>
        </tr>
        <tr>
            <td style="display: block;height: 40px;width: 600px;margin-top:50px;line-height: 40px;background-color: #eeeced;color: #9d9d9d;font-size: 13px; ">
                <table cellpadding="0 " cellspacing="0 " border="0 ">
                    <tr>
                        <td style="width:600px;text-align: center; " align="center"><a style="text-decoration: underline;color:#9d9d9d;display:block;text-align:center; font-size: 11px " href="http://porsche-events.be/golfcup/ " target="_blank ">http://porsche-events.be/golfcup/</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
